<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="depot">
      <h2 data-cy="depotDetailsHeading"><span jhiTranslate="barApp.depot.detail.title">Depot</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ depot.id }}</span>
        </dd>
        <dt><span jhiTranslate="barApp.depot.amount">Amount</span></dt>
        <dd>
          <span>{{ depot.amount }}</span>
        </dd>
        <dt><span jhiTranslate="barApp.depot.description">Description</span></dt>
        <dd>
          <span>{{ depot.description }}</span>
        </dd>
        <dt><span jhiTranslate="barApp.depot.employee">Employee</span></dt>
        <dd>
          <div *ngIf="depot.employee">
            <a [routerLink]="['/employee', depot.employee.id, 'view']">{{ depot.employee.firstName }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="barApp.depot.client">Client</span></dt>
        <dd>
          <div *ngIf="depot.client">
            <a [routerLink]="['/client', depot.client.id, 'view']">{{ depot.client.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/depot', depot.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
