<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="job">
      <h2 data-cy="jobDetailsHeading"><span jhiTranslate="barApp.job.detail.title">Job</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="barApp.job.id">Id</span></dt>
        <dd>
          <span>{{ job.id }}</span>
        </dd>
        <dt><span jhiTranslate="barApp.job.jobName">Job Name</span></dt>
        <dd>
          <span>{{ job.jobName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/job', job.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
