<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="stock">
      <h2 data-cy="stockDetailsHeading"><span jhiTranslate="barApp.stock.detail.title">Stock</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="barApp.stock.id">Id</span></dt>
        <dd>
          <span>{{ stock.id }}</span>
        </dd>
        <dt><span jhiTranslate="barApp.stock.quantity">Quantity</span></dt>
        <dd>
          <span>{{ stock.quantity }}</span>
        </dd>
        <dt><span jhiTranslate="barApp.stock.buyPrice">Buy Price</span></dt>
        <dd>
          <span>{{ stock.buyPrice }}</span>
        </dd>
        <dt><span jhiTranslate="barApp.stock.quantityMinimal">Quantity Minimal</span></dt>
        <dd>
          <span>{{ stock.quantityMinimal }}</span>
        </dd>
        <dt><span jhiTranslate="barApp.stock.product">Product</span></dt>
        <dd>
          <div *ngIf="stock.product">
            <a [routerLink]="['/product', stock.product.id, 'view']">{{ stock.product.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/stock', stock.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
