<div>
  <h2 id="page-heading" data-cy="PrixBoissonHeading">
    <span jhiTranslate="barApp.prixBoisson.home.title">PrixBoissons</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="barApp.prixBoisson.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-prix-boisson"
        [routerLink]="['/prix-boisson/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="barApp.prixBoisson.home.createLabel"> Créer un nouveau Prix Boisson </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="prixBoissons?.length === 0">
    <span jhiTranslate="barApp.prixBoisson.home.notFound">Aucun Prix Boisson trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="prixBoissons && prixBoissons.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prix">
            <div class="d-flex">
              <span jhiTranslate="barApp.prixBoisson.prix">Prix</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="boisson.name">
            <div class="d-flex">
              <span jhiTranslate="barApp.prixBoisson.boisson">Boisson</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prixBoisson of prixBoissons; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/prix-boisson', prixBoisson.id, 'view']">{{ prixBoisson.id }}</a>
          </td>
          <td>{{ prixBoisson.prix }}</td>
          <td>
            <div *ngIf="prixBoisson.boisson">
              <a [routerLink]="['/boisson', prixBoisson.boisson.id, 'view']">{{ prixBoisson.boisson.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/prix-boisson', prixBoisson.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/prix-boisson', prixBoisson.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(prixBoisson)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
